{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--{{book}}-->
<div class="container">
    <h1 class="text-center text-warning mt-3">DETAILS</h1>
<div class="card  mx-auto"  style="max-width:800px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{book.cover.url}}" class="img-fluid rounded-start p-3" height="400px" width="400px" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title text-center text-success mt-3">Title:{{book.title}}</h2>
        <p class="card-text text-center text-success mt-3">Author:{{book.author}}</p>
        <p class="card-text text-center text-success mt-3">Language:{{book.language}}</p>
        <p class="card-text text-center text-success mt-3">Pages:{{book.pages}}</p>
        <p class="card-text text-center text-success mt-3">Price:{{book.price}}</p>\
        <a href="{{book.pdf.url}}" class="btn btn-danger mt-3">DOWNLOAD</a>
      </div>
    </div>
  </div>
</div>
    </div>
{% endblock %}